<mat-card class="demographic-card">
  <mat-card-header>
    <div class="demographic-header">
      <div class="name-and-info">
      <mat-card-title>
        <div class="name-section">
          <h1>{{dataservice.demographic.name | nullCheck}}</h1>
        </div>
      </mat-card-title>
      <div class="info-section">
        <p><b>DOB: </b> {{dataservice.demographic.dateOfBirth | nullCheck}}</p>
        <p><b>Sex: </b> {{dataservice.demographic.gender | nullCheck}}</p>
      </div>
      <div class="info-section">
        <p><b>Race: </b> {{dataservice.demographic.race | nullCheck}}</p>
        <p><b>Ethnicity: </b> {{dataservice.demographic.ethnicity | nullCheck}}</p>
      </div>
      <div class="info-section">
        <p><b>Age: </b> {{dataservice.demographic.age | nullCheck}}</p>
        <p><b>ID: </b> {{dataservice.demographic.id | nullCheck}}</p>
      </div>
      </div>
      <div class="version-and-avatar">
        <p class="version-info"><b> eCarePlanner 1.2.3</b></p>
        <mat-icon class="avatar">account_circle</mat-icon>
      </div>
    </div>
  </mat-card-header>
</mat-card>
