<div class="wrapper">
  <section>
    <div class="table-container">
      <app-active-diagnosis-panel *ngIf="featureToggling.healthAndSocialConcerns.activeDiagnoses && getActiveIsReady()">
      </app-active-diagnosis-panel>
    </div>
  </section>
  <section>
    <div class="table-container">
      <app-social-concern-panel  *ngIf="featureToggling.healthAndSocialConcerns.activeDiagnoses && getActiveIsReady()"></app-social-concern-panel>
    </div>
  </section>
  <section>
    <div class="table-container">
      <app-inactive-diagnosis-panel *ngIf="featureToggling.healthAndSocialConcerns.inactiveDiagnoses && getInActiveIsReady()">
      </app-inactive-diagnosis-panel>
    </div>
  </section>

</div>
