
mat-tab-group {
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  width: 100%;
  margin: 0 auto;
}


.mat-tab-label {
  background-color: #f0f0f0;
  color: #666;
  padding: 10px 20px;
  border-radius: 8px 8px 0 0;
  text-transform: none;
}


.mat-tab-label-active {
  background-color: #fff;
  color: #000;
  font-weight: bold;
  z-index: 1;
}


::ng-deep .mat-ink-bar {
  background-color: var(--mat-primary-color);
  height: 4px;
}


.example-fill-remaining-space {

  flex: 1 1 auto;
}


.tile-header
{
  display: flex;
  flex: 1 0 100%;
  justify-content: center;
}

.group-header {
  display: flex;
  flex: 1 0 100%;
  justify-content: center;
  vertical-align: top;
  background: blue;
  color: white;
}

.center-name
{
  flex: 1 1 auto;
  text-align: center;
}

.resultTable {
  min-width: 20rem;
  padding: 2%;

  /* background-color: lightblue; */
  color: black;

  border-width: 2px;
  border-color: black;
  border-style: solid;
}

.resultTableHeader {
  background-color: aliceblue;
}
