mat-tab-group {
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0 auto;
}

.mat-tab-label {
  color: #666;
  padding: 10px 20px;
  border-radius: 8px 8px 0 0;
  text-transform: none;
  background-color: white; /* Keep the background color same */
}

.mat-tab-label-active {
  color: var(--primary-color); /* Change text color to theme color */
  font-weight: bold;
  z-index: 1;
  border-bottom: 2px solid var(--primary-color); /* Add bottom border with theme color */
}

::ng-deep .mat-ink-bar {
  background-color: transparent; /* Make the ink bar transparent */
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

.tile-header {
  display: flex;
  flex: 1 0 100%;
  justify-content: center;
}

.group-header {
  font-size: bold;
  display: flex;
  flex: 1 0 100%;
  justify-content: center;
  vertical-align: top;
  background: var(--primary-color); /* Use the theme color */
  color: white;
}

.center-name {
  flex: 1 1 auto;
  text-align: center;
}

.resultTable {
  min-width: 20rem;
  padding: 2%;
  color: black;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

.resultTableHeader {
  background-color: aliceblue;
}

.toolbar {
  height: 60px; /* Ensure consistent height */
  min-height: 60px;
}

.toolbar-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.patient-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.patient-name {
  font-size: 1.5em;
  font-weight: bold;
}

.patient-details {
  display: flex;
  flex-wrap: wrap;
}

.patient-details span {
  margin-right: 15px;
  font-size: 0.9em;
}

.icon-spacing {
  margin-right: 10px;
}
