<div *ngIf="showModal" class="modal-overlay">
    <div class="modal">
      <span class="close-btn" (click)="closeModal()">X</span>
      <div class="modal-content">
        <!-- Your warning banner text here -->
        <p>
          This system is provided for Government-authorized use only.
          Unauthorized or improper use of this system is prohibited and may result in disciplinary action and/or civil and criminal penalties.
          Personal use of social media and networking sites on this system is limited as to not interfere with official work duties and is subject to monitoring.
          By using this system, you understand and consent to the following:
          The Government may monitor, record, and audit your system usage, including usage of personal devices and email systems for official duties or to conduct HHS business.
          Therefore, you have no reasonable expectation of privacy regarding any communication or data transiting or stored on this system. At any time, and for any lawful Government purpose,
          the government may monitor, intercept, and search and seize any communication or data transiting or stored on this system. Any communication or data transiting or stored on this system may be disclosed or used for any lawful Government purpose.
        </p>
      </div>
    </div>
  </div>
  